.mock1bg{
    background-image: url('../../../assets/img/home-two/mockbgs1.png')!important;
}

.mock2bg{
    background-image: url('../../../assets/img/home-two/mockbgs2.png')!important;
}

span{
    font-weight: bold;
}

.nav-tabs{
    justify-content: center;
}