<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/home-two"><img src="assets/img/logo.webp" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#home">Micromock</a></li>

            <li class="nav-item"><a class="nav-link" href="#about">Informazioni</a></li>

            <li class="nav-item"><a class="nav-link" href="#usecases">Casi d'uso</a></li>
            <li class="nav-item"><a class="nav-link" href="#heroAIAssistant">Assistente AI</a></li>
            <li class="nav-item"><a class="nav-link" href="#beneficiMicromock">Benefici MicroMock</a></li>

        </ul>
    </div>

    <div class="side-nav">
        <a class="side-nav-left" routerLink="/">Sign In</a>
        <a class="side-nav-right cd-signup" routerLink="/"><i class='bx bx-link-external'></i>Sign Up</a>
    </div>
</nav>

<div class="two-banner-wrap">
    <div class="two-banner-slider owl-theme owl-carousel">
        <div class="two-banner-area two-banner-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>
                                <img src="assets/img/home-two/banner-icon.png" alt="Banner">
                                Welcome To Micro Mock
                            </span>
                            <h1>Micro Mock Residential Mortgage</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Apply Now</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-calculator'></i>
                                    Calculator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-banner-area two-banner-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>
                                <img src="assets/img/home-two/banner-icon.png" alt="Banner">
                                Welcome To Micro Mock
                            </span>
                            <h1>Buy A Home By Confidence</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Apply Now</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-calculator'></i>
                                    Calculator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="two-banner-area two-banner-three">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            <span>
                                <img src="assets/img/home-two/banner-icon.png" alt="Banner">
                                Welcome To Micro Mock
                            </span>
                            <h1>Mortgage Is A Great For You</h1>
                            <div class="banner-btn">
                                <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Apply Now</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-calculator'></i>
                                    Calculator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="banner-time-left">
                    <ul>
                        <li>
                            <i class='bx bx-globe'></i>
                            <span>29-14 Entin inter</span>
                            <p>New York 11105</p>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <span>(24 hours / 7 days)</span>
                            <a href="tel:34212213259">3421 221 3259</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="banner-time-right">
                    <ul>
                        <li>
                            <i class='bx bx-timer'></i>
                            <span>Mon-Fri (8am - 6pm)</span>
                            <p>Sat-Sun (10am - 2pm)</p>
                        </li>
                        <li>
                            <i class='bx bxs-contact'></i>
                            <span>Contact us </span>
                            <a href="mailto:support@micromock.com">support@micromock.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="about" class="one-contact-area two-address-area mock1bg ptb-100">
    <div class="container">
        <div class="contact-content">
            <div class="one-section-title">
                <span class="sub-title">Affidati a MicroMock</span>
                <h2 style="color:black">MICROMOCK</h2>
                <p>Crea microservizi mock per velocizzare i test della tua applicazione, simulando autonomamente un
                    processo end-to-end.
                    Automatizza e semplifica la configurazione con il supporto dell’assistente AI integrato.
                </p>
            </div>

        </div>
    </div>
</div>

<div id="usecase" class="one-contact-area two-address-area mock2bg ptb-100">
    <div class="container">
        <div class="contact-content" style="max-width: 580px !important">
            <div class="one-section-title">
                <span class="sub-title">Scopri MicroMock</span>
                <h2 style="color: black!important">Cos'è Micromock</h2>
                <p>MicroMock ti consente di configurare ed eseguire microservizi mock per simulare lo scambio di
                    messaggi tra microservizi, tutto tramite una semplice interfaccia grafica e senza scrivere una linea
                    di codice.
                    Elimina le dipendenze con altri team durante il test del tuo microservizio e parla con l’assistente
                    AI in linguaggio naturale per velocizzare la configurazione e l’avvio dei tuoi microservizi mock.
                    MicroMock supporta vari message broker come Kafka, RabbitMQ, Azure Service Bus e API endpoint.
                </p>
            </div>


        </div>
    </div>
</div>

<section id="usecases" class="one-service-area two-service-area ptb-100">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">Potenzia il tuo sviluppo</span>
            <h2>Caso d'uso: Generazione ordine</h2>
            <p>E’ in corso lo sviluppo di tre microservizi che si occuperanno di generare e finalizzare un ordine:
                <span>OrderService</span>, <span>InventoryService</span> e <span>PaymentService</span>.
                Lo sviluppo potrebbe essere in carico a tre team diversi, tre persone diverse dello stesso team o in
                carico ad un’unica persona.
                Poiché i processi dipendono dagli esiti dei vari microservizi, lo sviluppatore deve simulare lo scambio
                di messaggi per testare tutte le casistiche.
                Nel nostro esempio, il TEAM_A è responsabile dello sviluppo di OrderService, mentre gli altri due
                microservizi non sono ancora disponibili per I test di scambio di messaggi.
            </p>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-default active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                    role="tab" aria-controls="nav-home" aria-selected="true">
                    <div class="service-item">
                        <i class='bx bxs-building-house'></i>
                        <span>OrderService</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-dollar-circle'></i>
                        <span>InventoryService</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-home-circle'></i>
                        <span>PaymentService</span>
                    </div>
                </a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-one/advisor.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>OrderService</h2>
                                <p>Gestisce il flusso dell’ordine. Comunica con <span>InventoryService</span> e
                                    <span>PaymentService</span> per finalizzarlo.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-one/advisor2.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>InventoryService</h2>
                                <p>Riceve i messaggi da <span>OrderService</span> e risponde con una conferma o un
                                    rifiuto in base alla disponibilità degli articoli.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-one/advisor3.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>PaymentService</h2>
                                <p>Riceve i messaggi da <span>OrderService</span> e simula il processo di pagamento.
                                    Risponde con una conferma o un rifiuto. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="configuration" class="two-lover-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">COUSTOMER FEEDBACKS</span>
            <h2>What People Say</h2>
        </div>

    </div>
</section>


<section id="heroAIAssistant" class="one-help-area ptb-25">
    <div class="help-img">
        <img src="assets/img/home-two/heroAIAssistant.webp" alt="AI Hero Assistant">
    </div>

    <div class="container">
        <div class="help-item">
            <div class="one-section-title">
                <span class="sub-title">Il supporto dell'intelligenza articifiale</span>
                <h2>AI Hero Assistant</h2>
                Per semplificare e ridurre al minimo il tempo di configurazione, MicroMock dispone di un asssistente
                integrato basato sull'intelligenza articifiale.<br />
                I prompt di sistema sono scritti direttamente dal team di MicroMock, garantendo un alto grado di
                affidabilità nelle risposte fornite dal servizio AI.
                <hr />
                L'utente, in base alle proprie esigenze, può delegare all'AI, tramite comandi in linguaggio naturale, le
                seguenti attività:
            </div>
            <ul>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-brain'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Personalizzazione</h3>
                        <p>Costruzione di regole per la scelta della risposta.</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-cog'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Mapping</h3>
                        <p>Mapping automatico dei valori tra JSON in ingresso e quello in uscita</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-code-block'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Template</h3>
                        <p>Creazione di template JSON complessi come risposta</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-compass'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Congruità del modello</h3>
                        <p>Verifica automatica della congruità tra JSON in ingresso e quello in uscita.</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-bolt-circle'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Dati simulati</h3>
                        <p>Generazione di dati fake complessi.</p>
                    </div>
                </li>
            </ul>
            <div class="one-section-title">
                <h3 style="color:white !important;">Sicurezza dei dati</h3>
                Quando si utilizza l'AI, è fondamentale prestare attenzione ai dati inviati a terze parti. MicroMock ha
                scelto di utilizzare l'AI di Microsoft tramite i servizi di Azure OpenAI, che garantiscono la sicurezza
                dei dati.
                <br />
                Se l'utente decide di utilizzare l'assistente AI, MicroMock invierà esclusivamente i dati presenti nei
                JSON o nei template mock (comprese le regole di mapping o selezione delle risposte). Credenziali o
                certificati di collegamento dei message broker non verranno mai inviati ad Azure OpenAI.
                <br />
                Inoltre, MicroMock non raccoglie alcun tipo di dato, né a livello statistico né per finalità di
                controllo.
            </div>
        </div>
    </div>
</section>

<div id="beneficiMicromock" class="four-expect-area ptb-25">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title">Perchè MicroMock?</span>
            <h2>Benefici di MicroMock</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="expect-item active">
                    <div class="expect-icon">
                        <i class='bx bx-code-alt'></i>
                    </div>
                    <div class="box">
                        <h3>Per lo sviluppatore</h3>
                        <ul>
                            <li><i class='bx bx-task'></i>Organizzazione degli use case per i test.</li>
                            <li><i class='bx bx-refresh'></i>Modifica in tempo reale delle configurazioni.</li>
                            <li><i class='bx bx-share-alt'></i>Condivisione dei test con altri sviluppatori o team di
                                QA.</li>
                            <li><i class='bx bx-repeat'></i>Ripetere e monitorare i test con un solo click.</li>
                            <li><i class='bx bx-laptop'></i>Eseguibili sia in locale che su server di DEV o QA.</li>
                            <li><i class='bx bx-timer'></i>Elimina le attese da parte di altri team.</li>
                            <li><i class='bx bx-code'></i>Non richiede di sviluppare altro codice per fare i test.</li>
                            <li><i class='bx bx-cog'></i>Configurazione semplificata con l’assistente AI.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-check-shield'></i>
                    </div>
                    <div class="box">
                        <h3>Per la QA</h3>
                        <ul>
                            <li><i class='bx bx-share-alt'></i>Condivisione delle configurazioni di test.</li>
                            <li><i class='bx bx-edit'></i>Creazione di test in autonomia, senza la necessità di scrivere
                                righe di codice.</li>
                            <li><i class='bx bx-refresh'></i>Ripetibilità dei test con un solo click, facilitando i
                                rilasci frequenti.</li>
                            <li><i class='bx bx-shield-quarter'></i>Possibilità di testare il singolo microservizio in
                                un perimetro più piccolo e controllato.</li>
                            <li><i class='bx bx-check-circle'></i>Il microservizio può essere testato anche in assenza
                                degli altri microservizi da cui si dipende.</li>
                            <li><i class='bx bx-cog'></i>Configurazione semplificata con l'assistente AI.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-building'></i>
                    </div>
                    <div class="box">
                        <h3>Per l'azienda</h3>
                        <ul>
                            <li><i class='bx bx-standard'></i>Metodologia standard e condivisa per i test dei
                                microservizi.</li>
                            <li><i class='bx bx-timer'></i>Riduzione del tempo di rilascio in produzione.</li>
                            <li><i class='bx bx-error'></i>Riduzione degli errori dovuti a test tecnici altrimenti
                                difficilmente verificabili.</li>
                            <li><i class='bx bx-server'></i>Installazioni standalone, senza dipendenza da servizi SaaS
                                esterni. MicroMock funziona in ambienti sandbox.</li>
                            <li><i class='bx bx-cog'></i>Singolo strumento per tutti i message broker.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-group'></i>
                    </div>
                    <div class="box">
                        <h3>Per il team</h3>
                        <ul>
                            <li><i class='bx bx-share-alt'></i>Condivisione delle configurazioni di test.</li>
                            <li><i class='bx bx-time'></i>Velocizza i rilasci e intercetta più facilmente gli errori di
                                sviluppo.</li>
                            <li><i class='bx bx-check'></i>Uno strumento condiviso e conosciuto da tutti.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="one-subscribe-area two-subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h2>Do you want to get update what’s upcoming?</h2>
                </div>
                <div class="col-lg-6">
                    <form class="newsletter-form" data-bs-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                            autocomplete="off">
                        <button class="btn subscribe-btn" type="submit">Subscribe now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="one-search-area ptb-100">
    <div class="container">
        <div class="search-wrap">
            <div class="search-content">
                <div class="one-section-title">
                    <span class="sub-title">SERCH YOUR ONE</span>
                    <h2>Find A Loan Officer</h2>
                </div>
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Real Estate Agents
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Loan Officer
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>License State</option>
                                    <option>Another option</option>
                                    <option>A option</option>
                                    <option>Potato</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="search-link">
                        <button type="submit">Search Your Result</button>
                    </div>
                </form>
            </div>

            <div class="search-img">
                <img src="assets/img/home-one/search-man.png" alt="Search">
            </div>
        </div>
    </div>
</div>

<footer class="one-footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo.webp" alt="Logo"></a>
                        <p>Micro Mock Financial Services, Inc. 200 Wood Avenue South, Ninth Floor Iselin, NJ 65432</p>
                        <p>Resouece Financial ServicInc. 200 Wood Avenue South</p>
                        <ul>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>Quick Links</h3>

                        <ul>
                            <li><a routerLink="/">Mortgage Calculator</a></li>
                            <li><a routerLink="/">Mortgage Checklist</a></li>
                            <li><a routerLink="/">Mortgage Glossary</a></li>
                            <li><a routerLink="/">Renting vs Owning</a></li>
                            <li><a routerLink="/">Credit Basics</a></li>
                            <li><a routerLink="/">Disaster Relief Center</a></li>
                            <li><a routerLink="/">Disclosure</a></li>
                            <li><a routerLink="/">Home Disclosure Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>About Us</h3>

                        <ul>
                            <li><a routerLink="/">Down Payment Options</a></li>
                            <li><a routerLink="/">Your Mortgage Payment</a></li>
                            <li><a routerLink="/">Appraisal Basics</a></li>
                            <li><a routerLink="/">Contact</a></li>
                            <li><a routerLink="/">Careers</a></li>
                            <li><a routerLink="/">Privacy Policy</a></li>
                            <li><a routerLink="/">Privacy Choices</a></li>
                            <li><a routerLink="/">Licencing</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-address">
                        <h3>Address</h3>

                        <ul>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+4498886660000">+449 888 666 0000</a>
                            </li>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+5498586560350">+549 858 656 0350</a>
                            </li>
                            <li>
                                <i class='bx bx-message-square-detail'></i>
                                <a href="mailto:hello@micromock.com">hello@micromock.com</a>
                            </li>
                            <li>
                                <i class='bx bx-message-square-detail'></i>
                                <a href="mailto:info@micromock.com">info@micromock.com</a>
                            </li>
                            <li>
                                <i class='bx bx-current-location'></i>
                                855 road, broklyn street new york 600
                            </li>
                            <li>
                                <i class='bx bx-planet'></i>
                                Micro Mock is not acting behalf the Federal Government
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/visa.jpg" alt="Method"></a>
                            </li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/master-card.jpg"
                                        alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/paypal.jpg" alt="Method"></a>
                            </li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/skrill.jpg" alt="Method"></a>
                            </li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/master-card2.jpg"
                                        alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-one/visa2.jpg" alt="Method"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>© Micro Mock, un marchio <a href="https://vivido.it/" target="_blank">Vivido</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
