<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#home"><img src="assets/img/logo.webp" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#discoverMicroMock">Scopri MicroMock</a></li>
            <li class="nav-item"><a class="nav-link" href="#usecases">Casi d'uso</a></li>
            <li class="nav-item"><a class="nav-link" href="#configurationMicroMock">Configurazione</a></li>
            <li class="nav-item"><a class="nav-link" href="#heroAIAssistant">Assistente AI</a></li>
            <li class="nav-item"><a class="nav-link" href="#beneficiMicromock">Benefici MicroMock</a></li>
            <li class="nav-item"><a class="nav-link" href="#architecture">Architettura</a></li>
            <li class="nav-item"><a class="nav-link" href="#roadmap">Roadmap</a></li>
            <li class="nav-item"><a class="nav-link" href="#futureFeatures">Funzionalità Future</a></li>
        </ul>
    </div>
</nav>

<div id="knowingMicroMock" class="one-contact-area two-address-area mock1bg ptb-100">
    <div class="container">
        <div class="contact-content">
            <div class="one-section-title">
                <h2 style="color:black">MicroMock</h2>
                <p>Crea microservizi mock per velocizzare i test della tua applicazione, simulando autonomamente un
                    processo end-to-end.
                    Automatizza e semplifica la configurazione con il supporto dell’assistente AI integrato.
                </p>
            </div>

        </div>
    </div>
</div>

<div id="discoverMicroMock" class="one-contact-area two-address-area mock2bg ptb-100">
    <div class="container">
        <div class="contact-content" style="max-width: 580px !important">
            <div class="one-section-title">
                <span class="sub-title">Scopri MicroMock</span>
                <h2 style="color: black!important">Cos'è Micromock?</h2>
                <p>MicroMock ti consente di configurare ed eseguire microservizi mock per simulare lo scambio di
                    messaggi tra microservizi, tutto tramite una semplice interfaccia grafica e senza scrivere una linea
                    di codice.
                    Elimina le dipendenze con altri team durante il test del tuo microservizio e parla con l’assistente
                    AI in linguaggio naturale per velocizzare la configurazione e l’avvio dei tuoi microservizi mock.
                    MicroMock supporta vari message broker come Kafka, RabbitMQ, Azure Service Bus e API endpoint.
                </p>
            </div>
        </div>
    </div>
</div>

<section id="usecases" class="one-service-area two-service-area ptb-100">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">Potenzia il tuo sviluppo</span>
            <h2>Caso d'uso: Generazione ordine</h2>
            <p>E’ in corso lo sviluppo di tre microservizi che si occuperanno di generare e finalizzare un ordine:
                <span>OrderService</span>, <span>InventoryService</span> e <span>PaymentService</span>.
                Lo sviluppo potrebbe essere in carico a tre team diversi, tre persone diverse dello stesso team o in
                carico ad un’unica persona.
                Poiché i processi dipendono dagli esiti dei vari microservizi, lo sviluppatore deve simulare lo scambio
                di messaggi per testare tutte le casistiche.
                Nel nostro esempio, il TEAM_A è responsabile dello sviluppo di OrderService, mentre gli altri due
                microservizi non sono ancora disponibili per I test di scambio di messaggi.
            </p>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-default active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                    role="tab" aria-controls="nav-home" aria-selected="true">
                    <div class="service-item">
                        <i class='bx bxs-building-house'></i>
                        <span>OrderService</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-dollar-circle'></i>
                        <span>InventoryService</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-home-circle'></i>
                        <span>PaymentService</span>
                    </div>
                </a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/order-flow.png" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>OrderService</h2>
                                <p>Gestisce il flusso dell’ordine. Comunica con <span>InventoryService</span> e
                                    <span>PaymentService</span> per finalizzarlo.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/inventory-service.webp" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>InventoryService</h2>
                                <p>Riceve i messaggi da <span>OrderService</span> e risponde con una conferma o un
                                    rifiuto in base alla disponibilità degli articoli.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/payment-service.webp" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>PaymentService</h2>
                                <p>Riceve i messaggi da <span>OrderService</span> e simula il processo di pagamento.
                                    Risponde con una conferma o un rifiuto. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="usecasecomparison" class="one-service-area two-service-area ptb-100">
    <div class="two-address-area ghostwhitebg pt-100">
        <div class="container">
            <div class="one-section-title">
                <span class="sub-title">Ottimizza i tuoi processi</span>
                <h2>Caso d’uso: Generazione di un ordine</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="address-item">
                        <img src="assets/img/home-two/usecase1ghostwhite.png" height=460 alt="Address">
                        <h3>Test classici</h3>
                    </div>
                    <div class="container advisor-content">
                        <ul class="nobullets">
                            <li><i class='bx bxs-chevrons-right'></i> Salvataggio manuale dei file JSON per le varie prove da eseguire.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Invio manuale dei singoli messaggi.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Difficoltà nella condivisione dei file.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Necessità di sviluppo di codice da parte del team per eseguire le prove di invio e risposta.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Difficoltà per un team di QA non tecnico di replicare le prove sul singolo microservizio.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Possibili problemi di accesso agli ambienti di deploy.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Modifiche manuali necessarie per fornire risposte con dati coerenti (es. codice ordine).</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="address-item">
                        <img src="assets/img/home-two/usecase2ghostwhite.png" height=460 alt="Address">
                        <h3>Test con MicroMock</h3>
                    </div>
                    <div class="container advisor-content">
                        <ul class="nobullets">
                            <li><i class='bx bxs-chevrons-right'></i> Risposte generate automaticamente con dati coerenti a quelli inviati (es. codice ordine).</li>
                            <li><i class='bx bxs-chevrons-right'></i> Possibilità di generare dati fake (es. nomi, indirizzi, email).</li>
                            <li><i class='bx bxs-chevrons-right'></i> Configurabile tramite interfaccia grafica, senza necessità di conoscenze di programmazione.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Casi di test organizzati e configurabili.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Condivisione di un singolo file con l’intera struttura mock.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Utilizzabile sia in locale che su un server di sviluppo o QA.</li>
                            <li><i class='bx bxs-chevrons-right'></i> Esecuzione di tutti i test con un solo click.</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="configurationMicroMock" class="one-help-area two-help-area emerald-background">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-10 p-0">
                <div class="help-item help-item-bigger">
                    <div class="one-section-title">
                        <span class="sub-title">Personalizzazione totale</span>
                        <h2>Configurazione di MicroMock</h2>
                        <p class="nomargin">L'utente ha completa autonomia nella gestione dei mock necessari per eseguire i test, compresa la possibilità di avviare o arrestare specifici microservizi mock, ad esempio per passare da un mock a un microservizio reale.
                        </p>
                    </div>

                    <ul>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-network-chart'></i> <!-- Updated icon for Workspaces -->
                            </div>
                            <div class="help-inner">
                                <h3>Workspaces</h3>
                                <p class="p-80">Crea un’area di lavoro che contiene uno o più microservizi mock. Questa funzionalità può essere utilizzata per separare completamente i microservizi che appartengono a progetti diversi.</p>
                            </div>
                        </li>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-layer'></i> <!-- Updated icon for Applications -->
                            </div>
                            <div class="help-inner">
                                <h3>Applications</h3>
                                <p class="p-80">All'interno di un workspace, è possibile aggiungere una nuova applicazione e definire i dettagli del microservizio mock. Ad esempio, nel caso precedentemente illustrato, potrebbero essere create due applicazioni: <span>InventoryMock</span> e <span>PaymentMock</span>.</p>
                            </div>
                        </li>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-transfer-alt'></i> <!-- Updated icon for Transports -->
                            </div>
                            <div class="help-inner">
                                <h3>Transports</h3>
                                <p class="p-80">Ogni applicazione può avere uno o più transport con le proprie configurazioni e credenziali. Un transport è un collegamento a un determinato message broker. Ad esempio, <span>InventoryMock</span> può essere configurato per connettersi a Kafka su specifici topic, utilizzando ACL e certificati dedicati.</p>
                            </div>
                        </li>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-message-rounded-check'></i> <!-- Updated icon for Responses -->
                            </div>
                            <div class="help-inner">
                                <h3>Responses</h3>
                                <p class="p-80">Configura le possibili risposte che il microservizio mock deve generare. È possibile definire regole di generazione basate sul messaggio ricevuto; ad esempio, la risposta può essere determinata da valori presenti negli headers, nei JSON o dal topic di arrivo. Più regole possono essere concatenate e gestite con operatori logici come "AND", "OR", "IF". Le risposte possono includere dati fake generati da MicroMock o recuperare informazioni dal JSON in arrivo, propagandole nella risposta. Sono disponibili anche istruzioni specifiche per gestire array di elementi.</p>
                            </div>
                        </li>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-play-circle'></i> <!-- Updated icon for Producers -->
                            </div>
                            <div class="help-inner">
                                <h3>Producers</h3>
                                <p class="p-80">Alcuni messaggi di avvio del flusso potrebbero provenire da altri microservizi. Questa sezione consente di configurare questi messaggi di avvio, permettendo una gestione autonoma anche di questo tipo di scenario.</p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-2 p-0">
                <div class="help-img-two bit-tornado-bg">
                    <img src="assets/img/home-two/fun.jpg" alt="Fun">
                </div>
            </div>
        </div>
    </div>
</section>


<section id="heroAIAssistant" class="one-help-area ptb-25">
    <div class="help-img">
        <img src="assets/img/home-two/heroAIAssistant.webp" alt="AI Hero Assistant">
    </div>

    <div class="container">
        <div class="help-item">
            <div class="one-section-title">
                <span class="sub-title">Il supporto dell'intelligenza articifiale</span>
                <h2>AI Hero Assistant</h2>
                Per semplificare e ridurre al minimo il tempo di configurazione, MicroMock dispone di un asssistente
                integrato basato sull'intelligenza articifiale.<br />
                I prompt di sistema sono scritti direttamente dal team di MicroMock, garantendo un alto grado di
                affidabilità nelle risposte fornite dal servizio AI.
                <hr />
                L'utente, in base alle proprie esigenze, può delegare all'AI, tramite comandi in linguaggio naturale, le
                seguenti attività:
            </div>
            <ul>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-brain'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Personalizzazione</h3>
                        <p>Costruzione di regole per la scelta della risposta.</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-cog'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Mapping</h3>
                        <p>Mapping automatico dei valori tra JSON in ingresso e quello in uscita</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-code-block'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Template</h3>
                        <p>Creazione di template JSON complessi come risposta</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-compass'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Congruità del modello</h3>
                        <p>Verifica automatica della congruità tra JSON in ingresso e quello in uscita.</p>
                    </div>
                </li>
                <li>
                    <div class="help-icon">
                        <i class='bx bx-bolt-circle'></i>
                    </div>
                    <div class="help-inner">
                        <h3>Dati simulati</h3>
                        <p>Generazione di dati fake complessi.</p>
                    </div>
                </li>
            </ul>
            <div class="one-section-title">
                <h3 style="color:white !important;">Sicurezza dei dati</h3>
                Quando si utilizza l'AI, è fondamentale prestare attenzione ai dati inviati a terze parti. MicroMock ha
                scelto di utilizzare l'AI di Microsoft tramite i servizi di Azure OpenAI, che garantiscono la sicurezza
                dei dati.
                <br />
                Se l'utente decide di utilizzare l'assistente AI, MicroMock invierà esclusivamente i dati presenti nei
                JSON o nei template mock (comprese le regole di mapping o selezione delle risposte). Credenziali o
                certificati di collegamento dei message broker non verranno mai inviati ad Azure OpenAI.
                <br />
                Inoltre, MicroMock non raccoglie alcun tipo di dato, né a livello statistico né per finalità di
                controllo.
            </div>
        </div>
    </div>
</section>

<div id="beneficiMicromock" class="four-expect-area ptb-25">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title">Perchè MicroMock?</span>
            <h2>Benefici di MicroMock</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="expect-item active">
                    <div class="expect-icon">
                        <i class='bx bx-code-alt'></i>
                    </div>
                    <div class="box">
                        <h3>Per lo sviluppatore</h3>
                        <ul>
                            <li><i class='bx bx-task'></i>Organizzazione degli use case per i test.</li>
                            <li><i class='bx bx-refresh'></i>Modifica in tempo reale delle configurazioni.</li>
                            <li><i class='bx bx-share-alt'></i>Condivisione dei test con altri sviluppatori o team di
                                QA.</li>
                            <li><i class='bx bx-repeat'></i>Ripetere e monitorare i test con un solo click.</li>
                            <li><i class='bx bx-laptop'></i>Eseguibili sia in locale che su server di DEV o QA.</li>
                            <li><i class='bx bx-timer'></i>Elimina le attese da parte di altri team.</li>
                            <li><i class='bx bx-code'></i>Non richiede di sviluppare altro codice per fare i test.</li>
                            <li><i class='bx bx-cog'></i>Configurazione semplificata con l’assistente AI.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-check-shield'></i>
                    </div>
                    <div class="box">
                        <h3>Per la QA</h3>
                        <ul>
                            <li><i class='bx bx-share-alt'></i>Condivisione delle configurazioni di test.</li>
                            <li><i class='bx bx-edit'></i>Creazione di test in autonomia, senza la necessità di scrivere
                                righe di codice.</li>
                            <li><i class='bx bx-refresh'></i>Ripetibilità dei test con un solo click, facilitando i
                                rilasci frequenti.</li>
                            <li><i class='bx bx-shield-quarter'></i>Possibilità di testare il singolo microservizio in
                                un perimetro più piccolo e controllato.</li>
                            <li><i class='bx bx-check-circle'></i>Il microservizio può essere testato anche in assenza
                                degli altri microservizi da cui si dipende.</li>
                            <li><i class='bx bx-cog'></i>Configurazione semplificata con l'assistente AI.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-building'></i>
                    </div>
                    <div class="box">
                        <h3>Per l'azienda</h3>
                        <ul>
                            <li><i class='bx bx-standard'></i>Metodologia standard e condivisa per i test dei
                                microservizi.</li>
                            <li><i class='bx bx-timer'></i>Riduzione del tempo di rilascio in produzione.</li>
                            <li><i class='bx bx-error'></i>Riduzione degli errori dovuti a test tecnici altrimenti
                                difficilmente verificabili.</li>
                            <li><i class='bx bx-server'></i>Installazioni standalone, senza dipendenza da servizi SaaS
                                esterni. MicroMock funziona in ambienti sandbox.</li>
                            <li><i class='bx bx-cog'></i>Singolo strumento per tutti i message broker.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-6">
                <div class="expect-item">
                    <div class="expect-icon">
                        <i class='bx bx-group'></i>
                    </div>
                    <div class="box">
                        <h3>Per il team</h3>
                        <ul>
                            <li><i class='bx bx-share-alt'></i>Condivisione delle configurazioni di test.</li>
                            <li><i class='bx bx-time'></i>Velocizza i rilasci e intercetta più facilmente gli errori di
                                sviluppo.</li>
                            <li><i class='bx bx-check'></i>Uno strumento condiviso e conosciuto da tutti.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="architecture" class="one-help-area ptb-25">
    <div class="one-section-title three-section-title">
        <span class="sub-title">Panoramica della struttura</span>
        <h2 style="color:white !important;">Architettura</h2>
    </div>
    <div class="two-house-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="house-item">
                        <div class="house-icon">
                            <i class='bx bx-layout'></i>
                        </div>
                        <h3>MicroMock UI</h3>
                        <p>L'interfaccia utente è realizzata in Angular 18 con un tema personalizzato.<br />
                            Permette la gestione completa di MicroMock Service e le caratteristiche principali sono:
                        </p>
                        <div class="box">
                            <ul>
                                <li><i class='bx bx-layer'></i>Gestione di workspaces per lavorare su progetti diversi.
                                </li>
                                <li><i class='bx bx-sync'></i>Modifica in tempo reale delle configurazioni.</li>
                                <li><i class='bx bx-cube'></i>Possibilità di utilizzo con tre modalità: installazione
                                    locale
                                    (tramite Electron), Docker, deploy su server (ad esempio Kubernetes).</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="house-item">
                        <div class="house-icon">
                            <i class='bx bx-network-chart'></i>
                        </div>
                        <h3>MicroMock Service</h3>
                        <p>Sviluppato in .NET 8 utilizzando il template Web API, che consente l'interazione tramite REST
                            con l'interfaccia utente. <br /> Gestisce il ciclo di vita dei mock service per un
                            determinato workspace, includendo:
                        </p>
                        <div class="box">
                            <ul>
                                <li><i class='bx bx-play'></i>Avvio e arresto selettivo dei microservizi mock.</li>
                                <li><i class='bx bx-down-arrow-circle'></i>Attività di consumer per lettura dei messaggi
                                    dal message broker.</li>
                                <li><i class='bx bx-upload'></i>Attività di producer e gestione delle regole per la
                                    generazione dei messaggi.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                    <div class="house-item">
                        <div class="house-icon">
                            <i class='bx bx-archive-in'></i>
                        </div>
                        <h3>Installazione e deploy</h3>
                        <p>MicroMock offre massima flessibilità nell'installazione, adattandosi alle esigenze
                            specifiche:
                        </p>
                        <div class="box">
                            <ul>
                                <li><i class='bx bx-desktop'></i>Installazione locale tramite framework Electron,
                                    supportando lo sviluppatore nei test durante la fase di sviluppo. Un unico pacchetto
                                    gestisce sia l'interfaccia utente sia il servizio di background.</li>
                                <li><i class='bx bx-laptop'></i>Deploy su Docker di MicroMock UI e Service, senza
                                    necessità di installazione diretta sulla macchina.</li>
                                <li><i class='bx bx-server'></i>Deploy come container su server di DEV o QA, con esempi
                                    di deploy disponibili per Kubernetes.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="roadmap" class="three-process-area pb-70 ptb-25">
    <div class="container-fluid">
        <div class="one-section-title">
            <span class="sub-title">Pianificazione sviluppo funzionalità</span>
            <h2>Roadmap 1.0</h2>
            <p>
                Lo scopo della versione 1.0 è la creazione di un MVP (Minimum Viable Product) che permetta agli
                sviluppatori di eseguire l'applicazione su Docker e di lanciare i test utilizzando Kafka come message
                broker.
            </p>
            <p>E' prevista anche una prima integrazione con l'AI per assistere l'utente nella generazione e
                configurazione dei file JSON.
            </p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>1</span>
                    </div>
                    <p>Struttura base</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>2</span>
                    </div>
                    <p>Producer messaggi</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>3</span>
                    </div>
                    <p>Integrazione Handlebars</p>
                </div>

                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>4</span>
                    </div>
                    <p>Integrazione Bogus</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>5</span>
                    </div>
                    <p>Memorizzazione messaggi per UI</p>
                </div>

                <div class="process-item">
                    <h3>MicroMock Service</h3>
                    <div class="process-span">
                        <span>6</span>
                    </div>
                    <p>Salvataggio configurazioni</p>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="process-item">
                    <h3>MicroMock UI</h3>
                    <div class="process-span">
                        <span>7</span>
                    </div>
                    <p>Creazione mockup</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock UI</h3>
                    <div class="process-span">
                        <span>8</span>
                    </div>
                    <p>Gestione workspaces</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock UI</h3>
                    <div class="process-span">
                        <span>9</span>
                    </div>
                    <p>Gestione applications</p>
                </div>

                <div class="process-item">
                    <h3>MicroMock UI</h3>
                    <div class="process-span">
                        <span>10</span>
                    </div>
                    <p>Gestione transports</p>
                </div>
                <div class="process-item">
                    <h3>MicroMock UI</h3>
                    <div class="process-span">
                        <span>11</span>
                    </div>
                    <p>Visualizzazione messaggi</p>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="process-item">
                    <h3>Generico</h3>
                    <div class="process-span">
                        <span>12</span>
                    </div>
                    <p>Esempio di deploy per docker</p>
                </div>
                <div class="process-item">
                    <h3>Generico</h3>
                    <div class="process-span">
                        <span>13</span>
                    </div>
                    <p>Integrazione base AI</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="futureFeatures" class="three-process-area pt-25">
    <div class="process-style-area ptb-100">
        <div class="container">
            <div class="main-section-title">
                <span class="sub-title">Caratteristiche richieste da integrare</span>
                <h2>Funzionalità future</h2>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="process-style-accordion">
                        <div class="accordion" id="ProcessAccordion">
                            <div class="accordion-item">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>01</span> Electron
                                </button>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Installazione locale con Electron</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>02</span> Kubernetes
                                </button>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Deploy dell'applicativo attraverso Kubernetes.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span>03</span> AI
                                </button>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Sviluppo ed integrazione di agenti AI avanzati.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span>04</span> API endpoints
                                </button>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Integrazione di endpoints API configurabili per i quali eseguire le simulazioni.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span>05</span> Test di verifica automatici
                                </button>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Sviluppo di funzionalità che permettano di testare e verificare in modo automatico tutto il processo di simulazione.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span>06</span> Integrazione altri message brokers
                                </button>
                                <div id="collapseSix" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Oltre al supporto di kafka viene previsto di integrare anche altri framework come RabbitMQ, Azure Message Bus etc.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <span>07</span> Test di carico
                                </button>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Esecuzione di specifici test di invio dati massivi per testare resilienza e processamento dei propri microservizi non simulati.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <span>08</span> Cloud Sync
                                </button>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                    data-bs-parent="#ProcessAccordion">
                                    <div class="accordion-body">
                                        <p class="bold">Sincronizzazione ambienti, carichi di lavoro e configurazioni sulle principali piattaforme cloud.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="process-style-image">
                        <img src="assets/img/home-two/lightningBulb.webp" alt="Creative ideas">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="one-footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <a routerLink="/"><img src="assets/img/logo.webp" alt="Logo"></a>
                    <div class="footer-address">
                        <ul>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+4498886660000">+39 055 343 64 64</a>
                            </li>
                            <li>
                                <i class='bx bx-message-square-detail'></i>
                                <a href="mailto:info@micromock.com">info@micromock.com</a>
                            </li>
                            <li>
                                <i class='bx bx-current-location'></i>
                                Via Dei Colatori 10, Sesto Fiorentino (FI), 50019
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>© Micro Mock, un marchio <a href="https://vivido.it/" target="_blank">Vivido</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
